*{margin: 0px;
    padding: 0px;
    }
    .card-imageVC {
      height: 150px;
      margin-bottom: 15px;
      background-size: cover;
      border-radius: 15px 15px 0 0;
  }
  .brochure-ani img{
    width: 50px;
    animation: brochure 25s linear infinite;
    animation-direction: alternate;
    z-index: -1;
  }
  .brochure-ani{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  @keyframes brochure{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-70vh);
        opacity: 0;
    }
  }
  .brochure-ani img:nth-child(1){
    animation-delay: -11s;
    width: 40px;
  }
  .brochure-ani img:nth-child(2){
    animation-delay: -5s;
    width: 60px;
  }
  .brochure-ani img:nth-child(3){
    animation-delay: -23s;
    width: 35px;
  }
  .brochure-ani img:nth-child(4){
    animation-delay: -17.5s;
    width: 30px;
  }
  .brochure-ani img:nth-child(5){
    animation-delay: -7s;
    width: 40px;
  }
.image-1{
 background-image: url(../images/brouchure/1.jpg);
}
.image-2{
 background-image: url(../images/brouchure/2.jpg);
}
.image-11{
  background-image: url(../images/brouchure/9.jpg);
}
.image-3{
  background-image: url(../images/brouchure/3.jpg);
}
.image-4{
  background-image: url(../images/brouchure/4.jpg);
}
.image-5{
  background-image: url(../images/brouchure/visitingcard/1.jpg);
}
.image-6{
  background-image: url(../images/brouchure/visitingcard/2.jpg);
}
.image-7{
  background-image: url(../images/brouchure/visitingcard/3.jpg);
}
.image-8{
  background-image: url(../images/brouchure/visitingcard/4.jpg);
}
.image-9{
  background-image: url(../images/brouchure/visitingcard/5.jpg);
}
.image-10{
  background-image: url(../images/brouchure/5.jpg);
}
.image-12{
  background-image: url(../images/brouchure/7.jpg);
}