* {padding: 0px;
    margin: 0px;
  }
.card {
    background: rgb(223, 223, 223);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.M-H{
  width: 280px;
}
.card-image {
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
h4{
  margin-top: .5rem;
  padding: 10px;
  text-align: center;
}
p{
    text-align: center; 
    width: 100%;
    margin-bottom: 3rem;
}
.hover:hover{
  color: rgb(21, 138, 132);
  cursor: pointer;
  transform: scale(1.03);
  transition: all is ease;
}