* {padding: 0px;
    margin: 0px;
  }
.card {
    background: rgb(223, 223, 223);
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.width-1{
  width: 300px;
}
.width-2{
  width: 370px;
}
.width-3{
  width: 280px;
}
.width-4{
  width: 400px;
}
.card-image {
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-image1 {
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

@media(max-width:490px){
  .fat_frame {
    height: 370px;
  }
}
.card-image2 {
    height: 220px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.height-1{
  height: 400px;
}
h4{
  margin-top: .5rem;
  padding: 10px;
  text-align: center;
}
p{
    text-align: center; 
    width: 100%;
    margin-bottom: 3rem;
}
.hover:hover{
  color: rgb(21, 138, 132);
  cursor: pointer;
  transform: scale(1.03);
  transition: all is ease;
}