*{margin: 0px;
padding: 0px;
}
.mug-ani img{
    width: 50px;
    animation: mug 25s linear infinite;
    animation-direction: alternate;
    z-index: -1;
}
.mug-ani{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@keyframes mug{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-127vh);
        opacity: 0;
    }
}
.mug-ani img:nth-child(1){
    animation-delay: -11s;
    width: 40px;
}
.mug-ani img:nth-child(2){
    animation-delay: -25s;
    width: 60px;
}
.mug-ani img:nth-child(3){
    animation-delay: -17s;
    width: 50px;
}
.mug-ani img:nth-child(4){
    animation-delay: -2.5s;
    width: 55px;
}
.mug-ani img:nth-child(5){
    animation-delay: -24s;
    width: 40px;
}
.W-mug-1{
    background-image: url(../images/mug/wedding/1.jpg);
}
.W-mug-2{
    background-image: url(../images/mug/wedding/2.jpg);
}
.W-mug-3{
    background-image: url(../images/mug/wedding/3.jpg);
}
.W-mug-4{
    background-image: url(../images/mug/wedding/4.jpg);
}
.W-mug-5{
    background-image: url(../images/mug/wedding/5.jpg);
}
.W-mug-6{
    background-image: url(../images/mug/wedding/6.jpg);
}
.W-mug-7{
    background-image: url(../images/mug/wedding/7.jpg);
}
.W-mug-8{
    background-image: url(../images/mug/wedding/8.jpg);
}
.W-mug-9{
    background-image: url(../images/mug/wedding/9.jpg);
}
.W-mug-10{
    background-image: url(../images/mug/wedding/10.jpg);
}
.M-mug-1{
    background-image: url(../images/mug/maternity/1.jpg);
}
.M-mug-2{
    background-image: url(../images/mug/maternity/2.jpg);
}
.M-mug-3{
    background-image: url(../images/mug/maternity/3.jpg);
}
.M-mug-4{
    background-image: url(../images/mug/maternity/4.jpg);
}
.M-mug-5{
    background-image: url(../images/mug/maternity/5.jpg);
}
.M-mug-6{
    background-image: url(../images/mug/maternity/6.jpg);
}
.M-mug-7{
    background-image: url(../images/mug/maternity/7.jpg);
}
.M-mug-8{
    background-image: url(../images/mug/maternity/8.jpg);
}
.M-mug-9{
    background-image: url(../images/mug/maternity/9.jpg);
}
.M-mug-10{
    background-image: url(../images/mug/maternity/10.jpg);
}