*{
    padding: 0;
    margin: 0;
}
.video {
    background: rgb(228, 228, 228);
    width: 320px;
    margin: 10px;
    border-radius: 15px;
}
.card-imageVC {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
 
.tshirt-1{
    background-image: url(../images/tshirt/wedding/1.jpg);
}
.tshirt-2{
    background-image: url(../images/tshirt/wedding/2.jpg);
}
.tshirt-3{
    background-image: url(../images/tshirt/wedding/3.jpg);
}
.tshirt-4{
    background-image: url(../images/tshirt/wedding/4.jpg);
}
.tshirt-5{
    background-image: url(../images/tshirt/wedding/5.jpg);
}
.tshirt-6{
    background-image: url(../images/tshirt/wedding/6.jpg);
}
.tshirt-7{
    background-image: url(../images/tshirt/wedding/7.jpg);
}
.tshirt-8{
    background-image: url(../images/tshirt/wedding/8.jpg);
}
.tshirt-9{
    background-image: url(../images/tshirt/wedding/9.jpg);
}
.tshirt-10{
    background-image: url(../images/tshirt/wedding/10.jpg);
}
.M-tshirt-1{
    background-image: url(../images/tshirt/baby/1.jpg);
}
.M-tshirt-2{
    background-image: url(../images/tshirt/baby/2.jpg);
}
.M-tshirt-3{
    background-image: url(../images/tshirt/baby/3.jpg);
}
.M-tshirt-4{
    background-image: url(../images/tshirt/baby/4.jpg);
}
.M-tshirt-5{
    background-image: url(../images/tshirt/baby/5.jpg);
}
.M-tshirt-6{
    background-image: url(../images/tshirt/baby/6.jpg);
}
.M-tshirt-7{
    background-image: url(../images/tshirt/baby/7.jpg);
}
.M-tshirt-8{
    background-image: url(../images/tshirt/baby/8.jpg);
}
.M-tshirt-9{
    background-image: url(../images/tshirt/baby/9.jpg);
}
.M-tshirt-10{
    background-image: url(../images/tshirt/baby/10.jpg);
}
.N-tshirt-1{
    background-image: url(../images/tshirt/tshirt/1.jpg);
}
.N-tshirt-2{
    background-image: url(../images/tshirt/tshirt/2.jpg);
}
.N-tshirt-3{
    background-image: url(../images/tshirt/tshirt/3.jpg);
}
.N-tshirt-4{
    background-image: url(../images/tshirt/tshirt/4.jpg);
}
.N-tshirt-5{
    background-image: url(../images/tshirt/tshirt/5.jpg);
}
.W-mug-1{
    background-image: url(../images/mug/wedding/1.jpg);
}
.W-mug-2{
    background-image: url(../images/mug/wedding/2.jpg);
}
.W-mug-3{
    background-image: url(../images/mug/wedding/3.jpg);
}
.W-mug-4{
    background-image: url(../images/mug/wedding/4.jpg);
}
.W-mug-5{
    background-image: url(../images/mug/wedding/5.jpg);
}
.W-mug-6{
    background-image: url(../images/mug/wedding/6.jpg);
}
.W-mug-7{
    background-image: url(../images/mug/wedding/7.jpg);
}
.W-mug-8{
    background-image: url(../images/mug/wedding/8.jpg);
}
.W-mug-9{
    background-image: url(../images/mug/wedding/9.jpg);
}
.W-mug-10{
    background-image: url(../images/mug/wedding/10.jpg);
}
.M-mug-1{
    background-image: url(../images/mug/maternity/1.jpg);
}
.M-mug-2{
    background-image: url(../images/mug/maternity/2.jpg);
}
.M-mug-3{
    background-image: url(../images/mug/maternity/3.jpg);
}
.M-mug-4{
    background-image: url(../images/mug/maternity/4.jpg);
}
.M-mug-5{
    background-image: url(../images/mug/maternity/5.jpg);
}
.M-mug-6{
    background-image: url(../images/mug/maternity/6.jpg);
}
.M-mug-7{
    background-image: url(../images/mug/maternity/7.jpg);
}
.M-mug-8{
    background-image: url(../images/mug/maternity/8.jpg);
}
.M-mug-9{
    background-image: url(../images/mug/maternity/9.jpg);
}
.M-mug-10{
    background-image: url(../images/mug/maternity/10.jpg);
}
.image-1{
    background-image: url(../images/brouchure/1.jpg);
}
.image-2{
    background-image: url(../images/brouchure/2.jpg);
}
.image-11{
    background-image: url(../images/brouchure/9.jpg);
}
.image-3{
    background-image: url(../images/brouchure/3.jpg);
}
.image-4{
    background-image: url(../images/brouchure/4.jpg);
}
.image-5{
    background-image: url(../images/brouchure/visitingcard/1.jpg);
}
.image-6{
  background-image: url(../images/brouchure/visitingcard/2.jpg);
}
.image-7{
background-image: url(../images/brouchure/visitingcard/3.jpg);
}
.image-8{
background-image: url(../images/brouchure/visitingcard/4.jpg);
}
.image-9{
background-image: url(../images/brouchure/visitingcard/5.jpg);
}
.image-10{
background-image: url(../images/brouchure/5.jpg);
}
.image-12{
background-image: url(../images/brouchure/7.jpg);
}
.image-13{
  background-image: url(../images/invitation/8.jpg);
}
.image-14{
  background-image: url(../images/invitation/2.jpg);
}
.image-15{
  background-image: url(../images/invitation/3.jpg);
}
.image-16{
  background-image: url(../images/invitation/4.jpg);
}
.image-17{
  background-image: url(../images/invitation/5.png);
}
.image-18{
  background-image: url(../images/invitation/6.jpg);
}
.image-19{
  background-image: url(../images/invitation/7.jpg);
}
.Mimage-1{
    background-image: url(../images/magazine/1.jpg);
}
.Mimage-2{
    background-image: url(../images/magazine/2.jpg);
}
.Mimage-3{
    background-image: url(../images/magazine/3.jpg);
}
.Mimage-4{
    background-image: url(../images/magazine/4.jpg);
}
.Mimage-5{
    background-image: url(../images/magazine/5.jpg);
}
.Cimage-1{
    background-image: url(../images/calendar/1.png);
}
.Cimage-2{
    background-image: url(../images/calendar/2.jpg);
}
.Cimage-3{
    background-image: url(../images/calendar/3.jpg);
}
.Cimage-4{
    background-image: url(../images/calendar/4.jpg);
}
.Pimage-1{
    background-image: url(../images/poster/1.jpg);
}
.Pimage-2{
    background-image: url(../images/poster/2.jpg);
}
.Pimage-3{
    background-image: url(../images/poster/5.jpg);
}
.Pimage-4{
    background-image: url(../images/poster/4.jpg);
}
.Pimage-6{
  background-image: url(../images/poster/6.jpg);
}
.Pimage-7{
background-image: url(../images/poster/7.png);
}
.Pimage-8{
background-image: url(../images/poster/8.png);
}
.Pimage-9{
background-image: url(../images/poster/9.png);
}
.Pimage-10{
background-image: url(../images/poster/10.png);
}
.Pimage-11{
  background-image: url(../images/poster/13.jpg);
}
.Iimage-1{
    background-image: url(../images/infographic/1.jpg);
}
.Iimage-2{
    background-image: url(../images/infographic/2.jpg);
}
.Iimage-3{
    background-image: url(../images/infographic/3.jpg);
}
.Iimage-4{
    background-image: url(../images/infographic/4.jpg);
}
.Iimage-5{
    background-image: url(../images/infographic/5.jpg);
}
.S-1{
    background-image: url(../images/vector/1.jpg);
}
.S-2{
    background-image: url(../images/vector/2.jpg);
}
.S-3{
    background-image: url(../images/vector/3.jpg);
}
.S-4{
    background-image: url(../images/vector/4.jpg);
}
.C-1{
    background-image: url(../images/vector/5.jpg);
}
.C-2{
    background-image: url(../images/vector/6.jpg);
}
.C-3{
    background-image: url(../images/vector/7.jpg);
}
.C-4{
    background-image: url(../images/vector/8.jpg);
}
.C-5{
    background-image: url(../images/vector/9.jpg);
}
.C-6{
    background-image: url(../images/vector/17.jpg);
}
.P-1{
    background-image: url(../images/vector/10.jpg);
}
.P-2{
    background-image: url(../images/vector/11.jpg);
}
.P-3{
    background-image: url(../images/vector/12.jpg);
}
.P-4{
    background-image: url(../images/vector/18.jpg);
}
.P-5{
  background-image: url(../images/vector/23.jpg);
}
.CC-1{
    background-image: url(../images/vector/15.jpg);
}
.CC-2{
    background-image: url(../images/vector/14.jpg);
}
.CC-3{
    background-image: url(../images/vector/16.jpg);
}
.PA-1{
    background-image: url(../images/vector/19.jpg);
}
.PA-2{
    background-image: url(../images/vector/22.jpg);
}
.PA-3{
  background-image: url(../images/vector/20.jpg);
}
.WDimage-1{
  background-image: url(../images/websiteDesign/1.jpg);
}
.WDimage-2{
  background-image: url(../images/websiteDesign/2.jpg);
}
.WDimage-3{
    background-image: url(../images/websiteDesign/3.jpg);
  }
.WDimage-4{
    background-image: url(../images/websiteDesign/4.jpg);
}