*{margin: 0px;
    padding: 0px;
    }
    .poster-ani img{
      width: 50px;
      animation: poster 25s linear infinite;
      animation-direction: alternate;
      z-index: -1;
    }
    .poster-ani{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    @keyframes poster{
      0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-127vh);
        opacity: 0;
    }
    }
    .poster-ani img:nth-child(1){
      animation-delay: -11s;
      width: 40px;
    }
    .poster-ani img:nth-child(2){
      animation-delay: -25s;
      width: 60px;
    }
    .poster-ani img:nth-child(3){
      animation-delay: -15s;
      width: 50px;
    }
    .poster-ani img:nth-child(4){
      animation-delay: -22.5s;
      width: 55px;
    }
    .poster-ani img:nth-child(5){
      animation-delay: -8s;
      width: 40px;
    }
.Pimage-1{
  background-image: url(../images/poster/1.jpg);
}
.Pimage-2{
  background-image: url(../images/poster/2.jpg);
}
.Pimage-3{
  background-image: url(../images/poster/5.jpg);
}
.Pimage-4{
  background-image: url(../images/poster/4.jpg);
}
.Pimage-6{
  background-image: url(../images/poster/6.jpg);
}
.Pimage-7{
  background-image: url(../images/poster/7.png);
}
.Pimage-8{
  background-image: url(../images/poster/8.png);
}
.Pimage-9{
  background-image: url(../images/poster/9.jpg);
}
.Pimage-10{
  background-image: url(../images/poster/10.png);
}
.Pimage-11{
  background-image: url(../images/poster/13.jpg);
}
.Pimage-12{
  background-image: url(../images/poster/14.jpg);
}
.Pimage-13{
  background-image: url(../images/poster/15.jpg);
}
.Pimage-14{
  background-image: url(../images/poster/16.jpg);
}
.Pimage-15{
  background-image: url(../images/poster/17.jpg);
}
.Pimage-16{
  background-image: url(../images/poster/18.jpg);
}
.Pimage-17{
  background-image: url(../images/poster/13.png);
}
.Pimage-18{
  background-image: url(../images/poster/14.png);
}
.Pimage-19{
  background-image: url(../images/poster/15.png);
}