* {padding: 0px;
    margin: 0px;
  }
  .website-ani img{
      width: 50px;
      animation:website 25s linear infinite;
      animation-direction: alternate;
      z-index: -1;
  }
  .website-ani{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  @keyframes website{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-70vh);
        opacity: 0;
    }
  }
  .website-ani img:nth-child(1){
      animation-delay: -11s;
      width: 40px;
  }
  .website-ani img:nth-child(2){
      animation-delay: -15s;
      width: 60px;
  }
  .website-ani img:nth-child(3){
      animation-delay: -23s;
      width: 50px;
  }
  .website-ani img:nth-child(4){
      animation-delay: -2.5s;
      width: 55px;
  }
  .website-ani img:nth-child(5){
      animation-delay: -9s;
      width: 40px;
  }
.card3P {
    background: rgb(231, 231, 231);
    width: 400px;
    margin: 10px;
    border-radius: 15px;
}
.card-image3 {
    height: 220px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.WDimage-1{
  background-image: url(../images/websiteDesign/1.jpg);
}
.WDimage-2{
  background-image: url(../images/websiteDesign/2.jpg);
}
.WDimage-3{
    background-image: url(../images/websiteDesign/3.jpg);
}

.WDimage-4{
    background-image: url(../images/websiteDesign/4.jpg);
}