*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
html{
        scroll-behavior: smooth;
      }
      .container2{
        width:100%;
        padding: 0 15px;
        margin: 0 auto;
      }
      header.topbar{
        background:white;
        align-items: center;
        padding: 0.50rem;
      }
      header.topbar.icons:hover{
        background-color: black;
      }
            .flex{
              display:flex
            }
      
            .justify-between{
              justify-content: space-between;
            }
      
            .item-center{
              align-items: center;
            }
            .justify-center{
              justify-content:center;
            }
            
    body{
        background:rgb(201, 201, 201); ;
    }
    h1{
        font-size: 4rem;
        padding: 50px 0;
        text-align: center;
        color: rgb(21, 138, 132);
        width: 100%;
        margin-top: 1rem;
    }
    
    .card {
        background: white;
        width: 550px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image {
        background-color: aqua;
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card-imageVC {
      background-color: aqua;
      height: 300px;
      margin-bottom: 15px;
      background-size: cover;
      border-radius: 15px 15px 0 0;
  }
    .card h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .image-1{
        background-image: url(brouchure/1.jpg);
    }
    .image-2{
        background-image: url(brouchure/2.jpg);
    }
    .image-3{
        background-image: url(brouchure/3.jpg);
    }
    .image-4{
        background-image: url(brouchure/4.jpg);
    }
    .image-5{
      background-image: url(visitingcard/1.jpg);
  }
  .image-6{
    background-image: url(visitingcard/2.jpg);
}
.image-7{
  background-image: url(visitingcard/3.jpg);
}
.image-8{
  background-image: url(visitingcard/4.jpg);
}
.image-9{
  background-image: url(visitingcard/5.jpg);
}
.image-10{
  background-image: url(brouchure/5.jpg);
}
.image-12{
  background-image: url(brouchure/7.jpg);
}