*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .card2 {
        background: white;
        width: 370px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image2 {
        background-color: aqua;
        height: 200px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card2 h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card2:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .Cimage-1{
        background-image: url(calander/1.png);
    }
    .Cimage-2{
        background-image: url(calander/2.jpg);
    }
    .Cimage-3{
        background-image: url(calander/3.jpg);
    }
    .Cimage-4{
        background-image: url(calander/4.jpg);
    }