*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
html{
      scroll-behavior: smooth;
    }
.container{
        width:100%;
        padding: 0 15px;
        margin: 0 auto;
      }
      .container2{
        width:100%;
        padding: 0 15px;
        margin: 0 auto;
      }
      header.topbar{
        background:white;
        align-items: center;
        padding: 0.50rem;
      }
      header.topbar.icons:hover{
        background-color: black;
      }
            .flex{
              display:flex
            }
      
            .justify-between{
              justify-content: space-between;
            }
      
            .item-center{
              align-items: center;
            }
            .justify-center{
              justify-content:center;
            }
            
    body{
        background:rgb(201, 201, 201); ;
    }
    
    h1{
        font-size: 4rem;
        padding: 50px 0;
        text-align: center;
        color: rgb(21, 138, 132);
        width: 100%;
        margin-top: 1rem;
    }
    
    .card2 {
        background: white;
        width: 370px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image2 {
        background-color: aqua;
        height: 200px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card2 h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .Cimage-1{
        background-image: url(calander/1.png);
    }
    .Cimage-2{
        background-image: url(calander/2.jpg);
    }
    .Cimage-3{
        background-image: url(calander/3.jpg);
    }
    .Cimage-4{
        background-image: url(calander/4.jpg);
    }