* {padding: 0px;
    margin: 0px;
  }
body{
    width: 100%;  
}
html{
    scroll-behavior: smooth;
  }
  .flex{
    display: flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .item-center{
    align-items: center;
  }    
  .justify-center{
    justify-content:center;
  }        
.earth {
    position: absolute;
    right: 40px;
    margin: auto;
    width: 30px;
    height: 30px;
    background-image: url(images/map.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0px -0px 0px 1px rgb(80, 80, 80) ;
    animation: spin 5s linear alternate infinite;
    margin-top: .2%;
}
@keyframes spin{
    100%{background-position:100%;}
}  
.topbar-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 2;
    height: 35px;
}
.topbar-container .icons{
  margin-top: auto;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}
.margin{
  padding-top: 4%;
}
.container2{
  width: 100%;
  padding: 4% 15px;
  margin: 20% 5%;
}
.container3{
  width: 100%;
  margin-left: 60%;
  margin-top: 20%;
  margin-bottom: 20%;
}
.menu-bar{
    background: rgb(71, 71, 71);
    text-align: center;
    width: 100%;
    margin-top: -1%;
    position: fixed;
    z-index: 1;
}
.extra-margin{
  margin-top: -4.7%;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;

}
.menu-bar ul a{
  text-decoration: none;
  color: #fff;

}
.menu-bar ul a{
  text-decoration: none;
  color: #fff;

}
.active, .menu-bar ul li:hover{

    background: rgb(37, 138, 151);
    border-radius: 20px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(71, 71, 71);
    margin-top: 15px;
    margin-left: -15px;
}
.sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.sub-menu-1 ul li{
    width: 100px;
    padding: 5px;
    background: transparent;
    border-radius: 0;
    text-align: center;
}
.sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.sub-menu-1 ul li a:hover{
    color:teal;
}
.active, .sub-menu-1{
  color: black;
}
h1{
  font-size: 4rem;
  padding: 50px 0;
  text-align: center;
  color: rgb(21, 138, 132);
  width: 100%;
}
.home{
  text-align: left;
  font-size: 2.5rem;
  z-index: 1;
}
.btn{
    padding: 0.50rem 0.75rem;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition:all 0.3s ease;
  }
  .btn-black{
    background: rgb(26, 98, 100);
    color: white;
  }
  .btn-black:hover{
   background: black;
   color: black;
   border: rgb(26, 98, 100);
 }
  .btn-white{
    background: rgb(38, 157, 165);
    color: white;
  }
  .btn-white:hover{
   background: rgb(28, 91, 94);
   color: black;
 }
footer{
  background-color: rgb(27, 27, 27);
  width: 100%;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
  margin-top: 4%;
}
.gap{
  margin-top: -3.3%;
}
.footer-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 50px;
  color: rgb(25, 110, 103);
}
footer .box{
flex: 1;
margin-right: 2rem;
text-align: center;
}
footer .box ul{
display: flex;
justify-content: space-evenly;
list-style: none;
}
footer .box ul li a{
color: white;
text-decoration: none;
transition: all .3s ease;
}
footer .box ul li a:hover{
color:rgb(38, 157, 165) ;
}
footer .box h3{
border-bottom: 1px solid white;
padding-bottom: 1rem;
margin-bottom: 1rem;
margin-top: 1rem;
}
footer .box p{
line-height: 1.2;
margin-bottom: 1rem;
color: white;
}
footer .box ul li{
margin-bottom: 1rem;
}
footer .box:nth-child(3) > div{
display: flex;
justify-content: center;
}
footer .box:nth-child(3){
text-align: left;
}
footer .box:nth-child(3) h3{
text-align: center;
}
footer .box:nth-child(2) h3{
text-align: center;
}
footer .box:nth-child(3) > div img{
margin-right: 1rem;
}
footer .box:nth-child(3) ul li{
margin-bottom: 1.5em;
}
footer .box:nth-child(2){
text-align: left;
}