*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    header.topbar{
        padding: 0.50rem;
      }
    body{
        background:rgb(201, 201, 201); ;
    }
    h1{
        font-size: 4rem;
        padding: 50px 0;
        text-align: center;
        color: rgb(21, 138, 132);
        width: 100%;
        margin-top: 3rem;
    }
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }