*{margin: 0px;
    padding: 0px;
    }
    .info-ani img{
      width: 50px;
      animation: info 15s ease-in forwards infinite;
      animation-direction: alternate;
      z-index: -1;
    }
    .info-ani{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute
      top: 50%;
    }
    @keyframes info{
      0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0;
    }
    }
    .info-ani img:nth-child(1){
      animation-delay: -11s;
      width: 40px;
      top: 90%;
    }
    .info-ani img:nth-child(2){
      animation-delay: -5s;
      width: 60px;
    }
    .info-ani img:nth-child(3){
      animation-delay: -23s;
      width: 50px;
    }
    .info-ani img:nth-child(4){
      animation-delay: -12.5s;
      width: 55px;
    }
    .info-ani img:nth-child(5){
      animation-delay: -18s;
      width: 40px;
    }
    .card4 {
        background: rgb(226, 226, 226);
        width: 370px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image4 {
        height: 200px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .Iimage-1{
        background-image: url(infographic/1.jpg);
    }
    .Iimage-2{
        background-image: url(infographic/2.jpg);
    }
    .Iimage-3{
        background-image: url(infographic/3.jpg);
    }
    .Iimage-4{
        background-image: url(infographic/4.jpg);
    }
    .Iimage-5{
        background-image: url(infographic/5.jpg);
    }
    