*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .card4 {
        background: rgb(226, 226, 226);
        width: 370px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image4 {
        background-color: aqua;
        height: 200px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card4 h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card4:hover{
        background-color: rgb(33, 173, 166);
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .Iimage-1{
        background-image: url(infographic/1.jpg);
    }
    .Iimage-2{
        background-image: url(infographic/2.jpg);
    }
    .Iimage-3{
        background-image: url(infographic/3.jpg);
    }
    .Iimage-4{
        background-image: url(infographic/4.jpg);
    }
    .Iimage-5{
        background-image: url(infographic/5.jpg);
    }
    