*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .card1 {
        background: white;
        width: 280px;
        margin: 10px;
        border-radius: 15px;
    }
    .card-image1 {
        background-color: aqua;
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card1 h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .Mimage-1{
        background-image: url(magazine/1.jpg);
    }
    .Mimage-2{
        background-image: url(magazine/2.jpg);
    }
    .Mimage-3{
        background-image: url(magazine/3.jpg);
    }
    .Mimage-4{
        background-image: url(magazine/4.jpg);
    }
    .Mimage-5{
        background-image: url(magazine/5.jpg);
    }