* {padding: 0px;
  margin: 0px;
}

/*@media (min-width:576px){
  .container{
    max-width: 540px;
  }
}
@media (min-width:760px){
  .container{
    max-width: 720px;
  }
}
@media (min-width:992px){
  .container{
    max-width: 960px;
  }
}
@media (min-width:1200px){
  .container{
    max-width: 1152px;
  }*/
  .menu-bar-portfolio{
    background: rgb(71, 71, 71);
    text-align: center;
    width: 100%;
    position: fixed;
    margin-top: -4.7%;
}
.menu-bar-portfolio ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar-portfolio ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar-portfolio ul li a{
    text-decoration: none;
    color: #fff;

}
.menu-bar-portfolio ul a{
  text-decoration: none;
  color: #fff;

}
.menu-bar-portfolio ul a{
  text-decoration: none;
  color: #fff;

}
.active, .menu-bar-portfolio ul li:hover{

    background: rgb(37, 138, 151);
    border-radius: 20px;
}
.sub-menu-1{
    display: none;
}
.menu-bar-portfolio ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(71, 71, 71);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar-portfolio ul li a:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul li a:hover{
    color:teal;
}
header.background{
      height: 550px;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      margin-bottom: 3rem;
      background-size:cover;
      width: 100%;
}
header.background p{
  width: 50%;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
    header.T-Shirt{
      background-image: url(images/tshirtBG.jpg);
      margin-top: 6.9%;
    }
    header.mug{
      background-image: url(images/mugBG.jpg);
      }
    header.brochure{
       background-image: url(images/brouchureBG.jpg);
     }
    header.Magazine{
      background-image: url(images/magazineBG2.jpg);
     }
    header.Calendar{
      background-image: url(images/calanderBG.jpg);
      }
    header.Poster{
      background-image: url(images/posterBG.jpg);
     }
    header.Infographic{
      background-image: url(images/infographicBG.jpg);
      }
    header.Vector{
      background-image: url(images/vectorBG.jpg);
      }
    header.Animated{
      background-image: url(images/animatedvideoBG.jpg);
      }