* {padding: 0px;
  margin: 0px;
}

/*@media (min-width:576px){
  .container{
    max-width: 540px;
  }
}
@media (min-width:760px){
  .container{
    max-width: 720px;
  }
}
@media (min-width:992px){
  .container{
    max-width: 960px;
  }
}
@media (min-width:1200px){
  .container{
    max-width: 1152px;
  }*/
  .menu-bar-portfolio{
    background: rgb(71, 71, 71);
    text-align: center;
    width: 100%;
    position: fixed;
    margin-top: -5.2%;
}
.menu-bar-portfolio ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar-portfolio ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar-portfolio ul li a{
    text-decoration: none;
    color: #fff;

}
.menu-bar-portfolio ul a{
  text-decoration: none;
  color: #fff;

}
.menu-bar-portfolio ul a{
  text-decoration: none;
  color: #fff;

}
.active, .menu-bar-portfolio ul li:hover{

    background: rgb(37, 138, 151);
    border-radius: 20px;
}
.sub-menu-1{
    display: none;
}
.menu-bar-portfolio ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(71, 71, 71);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar-portfolio ul li a:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar-portfolio ul li:hover .sub-menu-1 ul li a:hover{
    color:teal;
}
.container2{
  width: 100%;
  padding: 0 15px;
  margin: 0 5%;
}
     header.hero6{
      height: 500px;
      background-image: url(images/tshirtBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      margin-bottom: 5rem;
      background-size:cover;
      width: 100%;
      margin-top: 6.9%;
    }
    header.hero6 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
      align-content: ;
    }
    header.hero6 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    header.hero7{
      height: 500px;
      background-image: url(images/mugBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      margin-bottom: 5rem;
      background-size:cover;
    }
    header.hero7 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     
    }
    header.hero7 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    
     header.hero{
       height: 500px;
       background-image: url(images/brouchureBG.jpg);
       background-position: 0% 0%;
       background-repeat: no-repeat;
       overflow: hidden;
       background-color: black;
       background-size:cover;
     }
     header.hero h1{
       color: rgb(25, 110, 103);
       font-size: 2.5rem;
       margin-bottom: 0.50rem;
      }
     header.hero p{
       width: 50%;
       line-height: 1.5;
       margin-bottom: 1.5rem;
       margin-top: 2.5rem;
     }
     header.hero2{
       margin-top: 5rem;
      height: 500px;
      background-image: url(images/magazineBG2.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero2 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     }
    header.hero2 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    header.hero3{
      margin-top: 5rem;
      height: 500px;
      background-image: url(images/calanderBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero3 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     }
    header.hero3 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    header.hero4{
      margin-top: 5rem;
      height: 540px;
      background-image: url(images/posterBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero4 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
    }
    header.hero4 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 2.5rem;
      margin-top: 2.5rem;
    }
    header.hero5{
      margin-top: 5rem;
      height: 540px;
      background-image: url(images/infographicBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero5 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     }
    header.hero5 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    header.hero9{
      margin-top: 5rem;
      height: 500px;
      background-image: url(images/vectorBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero9 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     }
    header.hero9 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    header.hero10{
      margin-top: 5rem;
      height: 500px;
      background-image: url(images/animatedvideoBG.jpg);
      background-position: 0% 0%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-color: black;
      background-size:cover;
    }
    header.hero10 h1{
      color: rgb(25, 110, 103);
      font-size: 2.5rem;
      margin-bottom: 0.50rem;
     }
    header.hero10 p{
      width: 50%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }