*{margin: 0px;
    padding: 0px;
    }
    .card3 {
        background: rgb(228, 228, 228);
        width: 300px;
        margin: 10px;
        border-radius: 15px;
    }
    .card3P {
      background: rgb(231, 231, 231);
      width: 400px;
      margin: 10px;
      border-radius: 15px;
  }
    .card-image3 {
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card-image3P {
      height: 400px;
      margin-bottom: 15px;
      background-size: cover;
      border-radius: 15px 15px 0 0;
  }
    .Pimage-1{
        background-image: url(poster/1.jpg);
    }
    .Pimage-2{
        background-image: url(poster/2.jpg);
    }
    .Pimage-3{
        background-image: url(poster/5.jpg);
    }
    .Pimage-4{
        background-image: url(poster/4.jpg);
    }
    .Pimage-5{
      background-image: url(poster/5.jpg);
  }
  .Pimage-6{
    background-image: url(poster/6.jpg);
}
.Pimage-7{
  background-image: url(poster/7.png);
}
.Pimage-8{
  background-image: url(poster/8.png);
}
.Pimage-9{
  background-image: url(poster/9.png);
}
.Pimage-10{
  background-image: url(poster/10.png);
}