*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
      }
      .container{
        width:100%;
        padding: 0 15px;
        margin: 0 auto;
      }
      .container2{
        width:100%;
        padding: 0 15px;
        margin: 0 auto;
      }
      header.topbar{
        background:white;
        align-items: center;
        padding: 0.50rem;
      }
      header.topbar.icons:hover{
        background-color: black;
      }
            .flex{
              display:flex
            }
      
            .justify-between{
              justify-content: space-between;
            }
      
            .item-center{
              align-items: center;
            }
            .justify-center{
              justify-content:center;
            }
    body{
        background:rgb(201, 201, 201); ;
    }
    h1{
        font-size: 4rem;
        padding: 50px 0;
        text-align: center;
        color: rgb(21, 138, 132);
        width: 100%;
        margin-top: 1rem;
    }
    
    .card3 {
        background: white;
        width: 300px;
        margin: 10px;
        border-radius: 15px;
    }
    .card3P {
      background: white;
      width: 400px;
      margin: 10px;
      border-radius: 15px;
  }
    .card-image3 {
        background-color: rgb(255, 255, 255);
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .card-image3P {
      background-color: aqua;
      height: 400px;
      margin-bottom: 15px;
      background-size: cover;
      border-radius: 15px 15px 0 0;
  }
    .card3 h4{
        margin-top: .5rem;
        padding: 10px;
        text-align: center;
    }
    .card3P h4{
      margin-top: .5rem;
      padding: 10px;
      text-align: center;
  }
    .card:hover{
        background-color: gray;
        color: white;
        cursor: pointer;
        transform: scale(1.03);
        transition: all is ease;
    }
    .Pimage-1{
        background-image: url(poster/1.jpg);
    }
    .Pimage-2{
        background-image: url(poster/2.jpg);
    }
    .Pimage-3{
        background-image: url(poster/5.jpg);
    }
    .Pimage-4{
        background-image: url(poster/4.jpg);
    }
    .Pimage-5{
      background-image: url(poster/5.jpg);
  }
  .Pimage-6{
    background-image: url(poster/6.jpg);
}
.Pimage-7{
  background-image: url(poster/7.png);
}
.Pimage-8{
  background-image: url(poster/8.png);
}
.Pimage-9{
  background-image: url(poster/9.png);
}
.Pimage-10{
  background-image: url(poster/10.png);
}