*{margin: 0px;
    padding: 0px;
    }
    .vector-ani img{
        width: 50px;
        animation:vector 25s linear infinite;
        animation-direction: alternate;
        z-index: -1;
    }
    .vector-ani{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    @keyframes vector{
        0%{
            transform: translateY(0);
            opacity: 0;
        }
        50%{
            
            opacity: 1;
        }
        70%{
            
            opacity: 1;
        }
        100%{
            transform: translateY(-70vh);
            opacity: 0;
        }
    }
    .vector-ani img:nth-child(1){
        animation-delay: -7s;
        width: 40px;
    }
    .vector-ani img:nth-child(2){
        animation-delay: -15s;
        width: 60px;
    }
    .vector-ani img:nth-child(3){
        animation-delay: -23s;
        width: 50px;
    }
    .vector-ani img:nth-child(4){
        animation-delay: -2.5s;
        width: 55px;
    }
    .vector-ani img:nth-child(5){
        animation-delay: -19s;
        width: 40px;
    }
    .card-image1 {
        background-color: aqua;
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    .S-1{
        background-image: url(vector/1.jpg);
    }
    .S-2{
        background-image: url(vector/2.jpg);
    }
    .S-3{
        background-image: url(vector/3.jpg);
    }
    .S-4{
        background-image: url(vector/4.jpg);
    }
    .C-1{
        background-image: url(vector/5.jpg);
    }
    .C-2{
        background-image: url(vector/6.jpg);
    }
    .C-3{
        background-image: url(vector/7.jpg);
    }
    .C-4{
        background-image: url(vector/8.jpg);
    }
    .C-5{
        background-image: url(vector/9.jpg);
    }
    .C-6{
      background-image: url(vector/17.jpg);
  }
    .P-1{
        background-image: url(vector/10.jpg);
    }
    .P-2{
        background-image: url(vector/11.jpg);
    }
    .P-3{
        background-image: url(vector/12.jpg);
    }
    .P-4{
      background-image: url(vector/18.jpg);
  }
  .P-5{
    background-image: url(vector/23.jpg);
}
    .CC-1{
        background-image: url(vector/15.jpg);
    }
    .CC-2{
        background-image: url(vector/14.jpg);
    }
    .CC-3{
      background-image: url(vector/16.jpg);
  }
  .PA-1{
    background-image: url(vector/19.jpg);
}
.PA-2{
    background-image: url(vector/22.jpg);
}
.PA-3{
  background-image: url(vector/20.jpg);
}